*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // border: 1px dashed black;
}

html, body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

html {
  // This defines what 1 rem is - 16px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
