.section-project {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // scroll-snap-align: start;
}

@media only screen and (max-width: 768px) {
  .section-project {
    height: 115vh;
  }
}

@media only screen and (max-width: 530px) {
  .section-project {
    height: 210vh;
  }
}

@media only screen and (max-width: 375px) {
  .section-project {
    height: 155vh;
  }
}